<!DOCTYPE html>
<html>
<head>
   <title>Anonymous Feedback</title>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">

   <!-- Optional theme -->
   <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>

   <div id="content">
<div>
<tr>
	<th>Course</th>
	<td>
		<select class="course_select" name="course_code" >
			{% for course in courses %} }
				<option value={{course}}>{{course}}</option>
			{% end %}
		</select>
	</td>
</tr>
</div>
<div class="section" style="display: none;">
	<td>
		<select class="course_section" name="course_code" >
		</select>
	</td>
</div>
<div class="feedback" style="display: none;">
<form>
    <table>
        <tr>
            <th>Student Number</th>
            <td><input type='number' value='stnum'></td>
        </tr>

        <tr>
            <th>TA Section</th>
            <td>
                <select>
                    <option value=1> Monday 11.30 - 14.30   </option>
                    <option value=2> Tuesday 11.30 - 14.30  </option>
                    <option value=3> Wednesday 11.30 - 14.30</option>
                    <option value=4> Thursdday 11.30 - 14.30</option>
                    <option value=5> Friday 11.30 - 14.30   </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>How often was the TA prepared?</th>
            <td>
                 <select>
                    <option value=1> Never          </option>
                    <option value=2> Sometimes      </option>
                    <option value=3> Usually        </option>
                    <option value=4> Almost Always  </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>How well does the TA know the subject material?</th>
            <td>
                    <option value=1>Not at all          </option>
                    <option value=2>Knows enough        </option>
                    <option value=3>Knows the material  </option>
                    <option value=4>Expert              </option>
            </td>
        </tr>
        <tr>
            <th>Feedback about the TA</th>
            <td><input type='textarea' rows=10 cols=100 value='taFeedback'></td>
        </tr>
         <tr>
            <th>Feedback about the course</th>
            <td><input type='textarea' rows=10 cols=100 value='courseFeedback'></td>
        </tr>
        <tr>
            <td colspan=2>
                <input type='submit' value='Submit' />
            </td>
        </tr>
    <table>
</form>
</div>
</div>

<div id="footer">
	<!--{%block footer%}{%end %}-->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/feedback.js"></script>
<!--{% block scripts%}
{% end %}-->
</body>
</html>
